<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">AppVMC</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="afiliadoindex">
                <span class="oi oi-person" aria-hidden="true"></span> Afiliados
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="mensalidadeindex">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Mensalidades
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="financeiroindex">
                @*<span class="oi oi-graph" aria-hidden="true"></span>*@ 
                <i class="fa fa-money" aria-hidden="true"></i>Financeiro
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="novolanctocaixa">
                <span class="oi oi-dollar" aria-hidden="true"></span> Caixa
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}